:root{
        --primary : rgba(246, 153, 92, 1);
        --secondary : #fafcfd;
        --bg-primary: #ffffff;
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;

}

body{
        font-family: 'montserrat', sans-serif;
        background-color: var(--secondary);
}

.sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 18vw;
        background-color: var(--bg-primary);
        /* transition: 0.5s; */
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
}

.top{
        height: 10%;

}

.center{
        height: 80%;
        display: flex;
        flex-direction: column;
}

.bottom{
        height: 15%;
        justify-content: center;
        align-items: center;
}

.logo{
        display: flex;
        justify-content: center;
        align-items: center;
}

.logo img{
        width: 2rem;
}

.logo-text{
        align-content: center;
}

.search{
        display: flex;
        position: relative;
        margin-top: 1.5rem;
}

.icons-search{
        position: absolute;
        width: 1.8rem;
}

.search input{
        width: 100%;
        padding: 0.5rem;
        padding-left: 2.5rem;
        /* border: 1px solid #f1f1f1; */
        border: none;
        border-radius: 5px;
        outline: none;
        font-size: 0.8em;
}


.menu{
        margin: 2rem 1rem;
        /* background: yellow; */

}

.sidebar svg{
        width: 1.5rem;
        margin-right: 0.5rem;
}

.sub-menu svg:first-of-type{
        display: block;
}

.sub-menu svg:last-of-type{
        display: none;
}   

.sub-menu.link-active svg:first-of-type {
        display: none;
}

.sub-menu.link-active svg:last-of-type {
        display: block;
}

.sub-menu{
        display: flex;
        padding: 0.7rem;
        border-radius: 0.5rem;
        margin: 0.2rem 0;
        align-items: center;
        
}

.sub-menu a{
        align-items: center;
        color: black;
}


.sub-menu.link-active a, .sub-menu.link-active svg{
        color: var(--primary);
        font-weight: bold;
        /* background: var(--bg-primary); */
        
        
}

.menu .link-active{
        background-color: rgba(246, 153, 92, 0.2);
        color: var(--primary);
        
}

.logout{
        margin: 0rem 1rem;
}

.footer{
        text-align: center;
        margin: 1rem 0rem;
}

.footer span{
        font-weight: bold;
        margin: 1rem 0rem;
}

.footer p{
        margin-top: 0.5rem;
}

.content{
        width: 78vw;
        position: relative;
        margin : 2rem 20vw;
}

.navbar{
        display: flex;
        justify-content: space-between;
        /* margin: 1rem 0; */
        padding: 0rem 2rem;
        background: #ffffff;
        border-radius: 12px;
        width: 100%;
}

.title{
        display: flex;
        align-items: center;
}

.title h2{
        font-size: 1.7em;
}

.me{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;

}

.notification svg{
        width: 20px;
        color: black;
}

.notification .notif{
        background: red;
        width: 8px;
        height: 8px;
        border-radius: 9999px;
        position: absolute;
        margin-left: 0.6rem;
}

#notif{
        border: none;
        background: none;
        cursor: pointer;

}

.disable{
        display: none;
}



.profile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0rem 0rem 0rem 1rem;
        background: #DEE1E6;
        border-radius: 9999px;
}

.profile a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
}

.profile a p{
}

.profile a svg{
        height: 1.1rem;
}

.mx-1{
        margin: 0rem 1rem;
}

.me-1{
        margin-right: 1rem;
}

.profile img{
        border-radius: 9999px; 
}

.progres{
        margin-top: 1rem;
        padding: 2rem 0rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background: #ffffff;
        border-radius: 12px;
        place-items: center;
}

.progres-p{
        color: var(--primary);
}

.card-progres{
        display: flex;
        
}

.frame-svg{
        width: 3rem;
        height:3rem;
        padding: 0.8rem;
        border-radius: 9999px;
        margin-right: 1rem;
}

.frame-svg.in-progres{
        color: var(--primary);
        background: rgba(246, 153, 92, 0.3);
}

.frame-svg.complete{
        color: #83E57A;
        background: #BEFFBD;
}

.frame-svg.time{
        color : #7B4438;
        background: #FFD0D0;
}

.frame-svg.achievment{
        color: #212A3E;
        background: #EBEDF0;
}

.progres-title{
        font-weight: bold;
        padding: 0.5rem 0;
}

.main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem 0;

}

.my-lesson{
        background: #ffffff;
        /* margin: -1rem -1rem; */
        padding: 0rem 1rem;
        border-radius: 12px;
}

.header-action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 1rem;
}

.see-all{
        display: flex;
        color: var(--primary);
        font-size: 0.8em;
}

.see-all svg{
        width: 1rem;
        margin-left: 0.5rem;
}

.lesson{
        padding: 1rem;
        display: flex;
}

.image-lesson {
        background: #EBEDF0;
        border-radius: 9999px;
        padding: 1rem   ;
        width: auto;
        text-align: center;
        align-self: center;
}

.lesson .image-lesson img{
        /* margin: auto; */
        width: 1.4rem;
        height: 1.5rem;
}

.progres-lesson{
        margin-left: 2rem;
        width: 100%;
}

.progres-lesson .title-lesson{
        font-weight: bold;
        max-width: 19rem;
}

.progres-bar{
        background: #EBEDF0;
        height: 0.6rem;
        width: 100%;
        margin-top: 2rem;
        border-radius: 9999px;
}

.progres-bar-fill{
        background: #83E57A;
        height: 0.6rem;
        width: 50%;
        border-radius: 9999px;
}



@media(max-width: 1080px){
        
        *{
                font-size : 90%;
        }
}

@media (max-width: 567px) {
        *{
                font-size : 62.5%;
        }
        
        .profile img{
                height: 2rem;
                width: auto;
                border-radius: 9999px; 
        }
        
        .notification svg{
                width: 15px;
        }

.notification .notif{
        width: 4px;
        height: 4px;
        margin-left: 0.8rem;
}

.title h2{
        font-size: 7em;
}

        .sidebar{
                position: absolute;
                display: none;
                z-index: 1;
                width: 100vw;
                

        }

        .content{
                /* width: 100vw; */
                width: 100vw;
                margin: 0;
        }

        .progres{
                grid-template-columns: repeat(2, 1fr);
                justify-content: start;
                gap: 1rem;
                text-align: start;
                place-items: start;
        }

        .card-progres{
                margin: 0rem 2rem;
        }

        .main{
                grid-template-columns: repeat(1, 1fr);
        }

        .lesson .image-lesson img{
                /* margin: auto; */
                width: 0.8rem;
                height: 0.8rem;
        }

        .image-lesson {
                background: #EBEDF0;
                border-radius: 9999px;
                padding: 0.8rem   ;
                width: auto;
                text-align: center;
        }

        .progres-bar{
                margin-top: 1rem;
        }


}